:root{
    width: 100vw;
    --mdc-theme-primary: #118f89;
    --mdc-theme-secondary: #946629;
    --mdc-theme-background: #fff;
}

.App{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}


